@import url('./reset.css');

.box {
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 355px;
  height: 40px;
}

input {
  padding: 8px 16px;
  margin: 0px;
  width: 272px;
  height: 100%;
  border-radius: 4px;
  border-color: #808080;
  color: #2e2f42;
}

input:hover {
  border-color: #000;
}

input:disabled {
  border-color: #808080;
  color: #808080;
}

input:active,
input:focus {
  border: 1px solid #4e75ff;
  color: #000;
}

button {
  width: 75px;
  height: 100%;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
button:disabled:hover {
  background-color: #cfcfcf;
  color: #989898;
}
button:hover {
  background-color: #6c8cff;
  color: #ffffff;
}

.timer {
  margin-top: 32px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.value {
  font-size: 40px;
  color: #2e2f42;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
