@import url('./reset.css');

.form {
  margin-top: 36px;
  margin-left: 156px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.form-delay {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 72px;
}

.form-delay-input {
  margin-top: 8px;
  padding: 0;
  padding: 4px 20px 4px 16px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: none;
  border: 1px solid #808080;
}

.form-delay-input:hover {
  border: none;
  border: 1px solid #000000;
}

.form-delay-input:active,
.form-delay-input:focus {
  border: none;
  outline: 1px solid #4e75ff;
  color: #000;
}

.form-fieldset {
  margin: 0;
  padding: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 24px;

  display: flex;
  justify-content: center;
  width: 360px;
  height: 78px;
  border-radius: 4px;
}

.form-fieldset label {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 104px;
  height: 32px;
}

button {
  width: 360px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-weight: 500;
}
